@charset "utf-8";
.dropdown {
	float:left; 
	padding-right:0;
}

.dropdown dt {
	width:90px; 
	cursor:pointer; 
}

.dropdown dt:hover {
	
}

.dropdown dd {
	float:left;
	position:absolute; 
	overflow:hidden; 
	width:130px;
	display:none; 
	z-index:200; 
	opacity:0;
}

.dropdown ul {
	border:#e3c26a; 
	list-style:none;
	margin-right:100px;
	
}

.dropdown li {
	
}
.dropdown ul, .dropdown ul:active, .dropdown ul:visited {
	display:inline-block; 
	color:#333; 
	text-decoration:none; 
	background:#e3c26a; 
	width:100px;
}

.dropdown a{
	color:#68571b;
}

.dropdown a:hover {
	color:#337033;
}

.dropdown .underline {
	border-bottom:1px solid #b9d6dc;
}

.dropdown ul.menu{
	background-color:#e3c26a;
	border:#e3c26a; 
	list-style:none;
	margin-left:30px;
}

.dropdown ul.menu li, .dropdown ul.menu li:active, .dropdown ul.menu li:visited {
	display:inline-block; 
	color:#333; 
	text-decoration:none; 
	background:#e3c26a; 

	text-align:right;
}

.dropdown ul.menu {
	background:#e3c26a; 
	list-style:none;

	
}

.dropdown dd ul.menu {
	width:90px;
	margin-left:90px;
}

